#
# 作者:牛皮德来
# 游戏难度调整模块,可针对同地图不同类型的副本修改难度,含获得治疗,承受伤害,怪物血量.
# 按 怪物entry>Area>Zone>Map的优先级进行调整,如匹配怪的ID,则怪优先,忽略其他,如果有Area,则按Area设定的难度调整,忽略其他的,如不匹配Area则尝试尝试用Zone匹配,如匹配则用Zone规则,如不匹配再匹配Map
# 针对调血分2大类:实时血量调整(含real的mod,CPU消耗稍大);非实时血量调整(含spawn的mod,CPU消耗极小)
# 针对地图类型分3大类:对应.gps获取的 map zone 和 area,用于副本建议map;副本外也调整难度:地带(如刀锋山和纳格兰)可用zone,地区(如剃刀岭和试炼谷)可用area,不同调血方式同地图类型共用1个数据表
# 最多基于地图类型可用3个模块,副本难度\治疗\伤害调整在.reload config后实时生效,互相叠加,血量调整基于生物模版的基础血量计算,无法叠加,最后计算有效(随机的),如编译多个模块,只开启本配置文件的一个调血模块
#

[worldserver]

########################################
# ModDifficult
########################################

#
#    ModDifficult.Enable
#        描述: 允许怪物难度调整模块(基于.gps获得的 Area, Zone, Map. 以及基于.npc info 获取怪物的entry更改怪物伤害).
#        默认:       0 - 禁用
#                    1 - 允许
#
ModDifficult.Enable = 0

#
#    ModDifficult.Debug
#        描述: 开启调试模式.
#        默认:        0 - 禁用
#                     1 - 允许
#
ModDifficult.Debug = 0

#
#    ModDifficult.Healing
#        描述: 开启治疗调整. (此开关为全局开关,对所有地图有效,用来提高关闭对应功能时候运行效率,优先级大于数据库内的调整.一旦关闭,数据库内所有对应调整都失效,副本有效,对单独怪和地图不做判断)
#        默认:       0 - 禁用
#                    1 - 允许
#
ModDifficult.Healing = 0

#
#    ModDifficult.Damage
#        描述: 开启怪物伤害调整. (此开关为全局开关,对所有地图有效,用来提高关闭对应功能时候运行效率,优先级大于数据库内的调整.一旦关闭,数据库内所有对应调整都失效)
#        默认:       0 - 禁用
#                    1 - 允许
#
ModDifficult.Damage = 0

#
#    ModDifficult.HP
#        描述: 开启怪物血量调整. (此开关为全局开关,对所有地图有效,用来提高关闭对应功能时候运行效率,优先级大于数据库内的调整.一旦关闭,数据库内所有对应调整都失效)
#             关闭后不会恢复已经生成的怪的默认血量，如要恢复默认血量，先开启功能，在数据库内把对应怪血量改为1，reload config后再关闭,或者重置副本或者怪物(仅数据库关闭,实时模块会恢复,非实时模块也不恢复)
#			  如同时加载和编译了多个类型血量的mod,如有基于map area zone等模块,同时开启会冲突,随机其中一个有效.要精确控制血量,只能在这里开启一个,关闭其他所有,数据库内开关不能解决冲突
#        默认:       0 - 禁用
#                    1 - 允许
#
ModDifficult.HP = 0

#
#    ModDifficult.HPRealMode
#        描述: 怪物血量调整采用实时还是生成方式,在调血模块开启后生效
#             生成方式实际为采用等级变化时候的方式,故复活的怪会导致血量恢复默认值,但是这种模式cpu占用会很低
#             生成模式不会恢复已经生成的怪的默认血量，如要恢复默认血量，先开启实时模式，在数据库内把对应怪血量改为1，reload config后再关闭,或者重置副本或者怪物
#        默认:    0 - 血量生成时候调整,几乎不占用CPU资源,死后复生怪会恢复默认血量
#                 1 - 血量实时调整,略增加cpu使用,但实时效果更好,死后复生怪也能正确调整
#                     
#
ModDifficult.HPRealMode = 0