#
# aegis
#
/*.md



# ==================
#
#  CUSTOM
#
#  put below your custom ignore rules
#  for example , if you want to include a
#  module directly in repositoryyou can do:
#
#  !modules/yourmodule
#
# ==================
