[worldserver]
###########################   物品鉴定脚本  ########################

#鉴定需要物品ID【对应item_template物品entry】
shuaxinEntry = 60001

#鉴定需要物品数量【个】
shuaxinCount = 10

###################################################################################################